.Layout {
    height: 100vh;
}

.Header {
    background: #176381;
    margin-bottom: 50px;
}

.Menu {
    background: #176381;
    line-height: 64px;
}

.Content {
    position: relative;
    background: #fff;
    /*padding: 24px;*/
    min-height: 280px;
    width: 85%;
    margin: 0 auto;
}

.Footer {
    text-align: center;
}